{% extends "base.html" %}

{% block content %}
<div class="formbg-outer">
  <div class="formbg" style="width: 100%;max-width: 448px;">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Hi {{g.user.username}}, Please fill out this form</span>

      <form id="data-form" action="/predictAll" method="POST">

        <div class="field padding-bottom--24">
          <label for="gre_score">GRE Score:</label>
          <input class="form-control" type="number" name="gre_score" id="gre_score" placeholder="eg: 302" min="260"
            max="340" value="317" required>
        </div>

        <div class="field padding-bottom--24">
          <label for="toefl_score">TOEFL Score:</label>
          <input class="form-control" type="number" name="toefl_score" id="toefl_score" placeholder="eg: 112" min="1"
            max="120" value="120" required>
        </div>

        <div class="field padding-bottom--24">
          <label for="cgpa">CGPA:</label>
          <input class="form-control" type="number" name="cgpa" id="cgpa" placeholder="eg: 8.5" step="any" min="1"
            max="10" value="8.84" required>
        </div>

        <div class="field padding-bottom--24">
          <label for="research">Research: </label>
          <select name="research" id="research" class="form-control" style="float: right;">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select><br>
        </div>

        <div class="field padding-bottom--24">
          <label for="gre_score">Personality</label>
          <input class="form-control" type="text" name="personality" id="personality" value="{{my_personality}}"
            required readonly>
        </div>

        <div class="field padding-bottom--24 padding-top--24">
          <input type="submit" name="submit" value="Predict All">
        </div>
      </form>
    </div>
  </div>
  <div class="footer-link padding-top--24">
    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
      <span><a href="#">© HIJ</a></span>
      <span><a href="#">Contact</a></span>
      <span><a href="#">Privacy & terms</a></span>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
    $("#myModal").modal();
  })
</script>
{% endblock %}