{% extends "base.html" %}

{% block content %}
<div class="formbg-outer">
  <div class="formbg" style="width: 100%;max-width: 448px;">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Sign in to your account</span>

      <form id="data-form" action="/predictAll" method="POST">

        <div class="field padding-bottom--24">
          <label for="gre_score">GRE Score:</label>
          <input class="form-control" type="number" name="gre_score" id="gre_score" placeholder="eg: 302" min="260"
            max="340" value="317" required>
        </div>

        <div class="field padding-bottom--24">
          <label for="toefl_score">TOEFL Score:</label>
          <input class="form-control" type="number" name="toefl_score" id="toefl_score" placeholder="eg: 112" min="1"
            max="120" value="120" required>
        </div>

        <div class="field padding-bottom--24">
          <div class="form-group">
            <label for="lor">LOR:</label>
            <input class="form-control" type="number" name="lor" id="lor" placeholder="eg: 3" min="1" max="5" value="5"
              required>
          </div>
        </div>

        <div class="field padding-bottom--24">
          <label for="sop">SOP:</label>
          <input class="form-control" type="number" name="sop" id="sop" placeholder="eg: 4" min="1" max="5" value="5"
            required>
        </div>

        <div class="field padding-bottom--24">
          <label for="cgpa">CGPA:</label>
          <input class="form-control" type="number" name="cgpa" id="cgpa" placeholder="eg: 8.5" step="any" min="1"
            max="10" value="8.84" required>
        </div>

        <div class="field padding-bottom--24">
          <label for="research">Research: </label>
          <select name="research" id="research" class="form-control" style="float: right;">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select><br>
        </div>

        <div class="field padding-bottom--24 padding-top--24">
          <input type="submit" name="submit" value="Predict All">
        </div>
        <div class="field">
          <a class="ssolink" href="#">{{prediction_text}}</a>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-link padding-top--24">
    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
      <span><a href="#">© HIJ</a></span>
      <span><a href="#">Contact</a></span>
      <span><a href="#">Privacy & terms</a></span>
    </div>
  </div>
</div>
{% endblock %}