<!DOCTYPE html>
<html lang="en">

<head>
  <title>College Acceptance</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <!-- <link rel="stylesheet" href="/main.css">
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

</head>

<body>

  <div class="topnav">
    <h1 id="heading">Acceptance Chance based on Merit and Personality</h1>
  </div>


  <div class="container">
    <div class="column_left">
      <form action="/predict" method="POST">
        <div class="form-group">
          <label for="gre_score">GRE Score:</label>
          <input class="form-control" type="number" name="gre_score" id="gre_score" placeholder="eg: 302" min="260"
            max="340">
        </div>

        <div class="form-group">
          <label for="toefl_score">TOEFL Score:</label>
          <input class="form-control" type="number" name="toefl_score" id="toefl_score" placeholder="eg: 112" min="1"
            max="120">
        </div>

        <div class="form-group">
          <label for="university_rating">University Rating:</label>
          <input class="form-control" type="number" name="university_rating" id="university_rating" placeholder="eg: 4"
            min="1" max="5">
        </div>

        <div class="form-group">
          <label for="sop">SOP:</label>
          <input class="form-control" type="number" name="sop" id="sop" placeholder="eg: 4" min="1" max="5">
        </div>

        <div class="form-group">
          <label for="lor">LOR:</label>
          <input class="form-control" type="number" name="lor" id="lor" placeholder="eg: 3" min="1" max="5">
        </div>

        <div class="form-group">
          <label for="cgpa">CGPA:</label>
          <input class="form-control" type="number" name="cgpa" id="cgpa" placeholder="eg: 8.5" step="any" min="1"
            max="10">
        </div>

        <div class="form-group">
          <label for="research">Research: </label>
          <select name="research" id="research" class="form-control" style="float: right;">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select><br>
        </div>

        <div class="bottomnav">

          <input class="btn" type="submit" value="Predict">
          <div class="predict"> {{prediction_text}} </div>

        </div>


        <!--<h4 style="text-align: center;">{{prediction_text}}</h4> -->
      </form>
    </div>

    <div class="column_right">


    </div>

  </div>


</body>

</html>