{% extends "base.html" %}
{% block content %}
<div class="formbg-outer">
  <div class="formbg" style="width: 100%;max-width: 448px;">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Sign in to your account</span>
      <form id="login" method="post">
        <div class="field padding-bottom--24">
          <label for="email">Username</label>
          <input class="input" type="text" name="username" placeholder="Username">
        </div>
        <div class="field padding-bottom--24">
          <div class="grid--50-50">
            <label for="password">Password</label>
          </div>
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
        <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
          <label for="checkbox">
            <input type="checkbox" name="checkbox"> Stay signed in for a week
          </label>
        </div>
        <div class="field padding-bottom--24">
          <input type="submit" name="submit" value="Continue">
        </div>
        <div class="field">
          <a class="ssolink" href="#" onclick="showAlert('Google Sign in')">Use single sign-on (Google) instead</a>
        </div>
      </form>
    </div>
  </div>
  {% endblock %}