{% extends "base.html" %}
{% block content %}
<div class="formbg-outer">
  <div class="formbg" style="width: 100%;max-width: 448px;">
    <div class="formbg-inner padding-horizontal--48">
      <span class="padding-bottom--15">Sign in to your account</span>
      <form id="stripe-login" method="post">
        <div class="field padding-bottom--24">
          <label for="email">Username</label>
          <input class="input" type="text" name="username" placeholder="Username">
        </div>
        <div class="field padding-bottom--24">
          <div class="grid--50-50">
            <label for="password">Password</label>
            <div class="reset-pass">
              <a href="#">Forgot your password?</a>
            </div>
          </div>
          <input class="input" type="password" name="password" placeholder="Password">
        </div>
        <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
          <label for="checkbox">
            <input type="checkbox" name="checkbox"> Stay signed in for a week
          </label>
        </div>
        <div class="field padding-bottom--24">
          <input type="submit" name="submit" value="Continue">
        </div>
        <div class="field">
          <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
        </div>
      </form>
    </div>
  </div>
  <div class="footer-link padding-top--24">
    <span>Don't have an account? <a href="">Sign up</a></span>
    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
      <span><a href="#">© HIJ</a></span>
      <span><a href="#">Contact</a></span>
      <span><a href="#">Privacy & terms</a></span>
    </div>
  </div>
</div>
{% endblock %}