{% extends "base.html" %}
{% block content %}
<div class="formbg-outer">
    <div class="formbg" style="width: 100%;max-width: 448px;">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Fill out these questions to get your personality type</span>
            <form id="data-form" action="/predictPersonality" method="POST">
                {% for que in ques %}
                <div class="field padding-bottom--24">
                    <label for={{que.id}}>{{que.label}}</label>
                    <select name={{que.id}} id="{{que.id}}" class="form-control" style="float: right;">
                        <option value="A">{{que.option1}}</option>
                        <option value="B">{{que.option2}}</option>
                    </select><br>
                </div>

                <div class="field padding-bottom--24 padding-top--24">
                    <input type="submit" name="submit" value="Predict All">
                </div>
        </div>
        {% endfor %}
        </form>
    </div>
</div>
{% endblock %}