{% extends "base.html" %}

{% block content %}
<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Your predictions for {{personality}} personality type(s)</span>
            <form id="table" action="/form?personality=All" method="POST">
                <div class="field padding-bottom--24 padding-top--24" style="width: fit-content;">
                    <input type="submit" name="submit" value="Get For All Personalities" id="Button">
                </div>
            </form>
            <h1>{{ title }}</h1>
            <hr>
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chance</th>
                        <th>Personality</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uni in unis %}
                    <tr>
                        <td>{{ uni.name }}</td>
                        <td>{{ uni.val }}</td>
                        <td>{{ uni.personality }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
        <script>
            $(document).ready(function () {
                $('#data').DataTable({
                    columns: [
                        { orderable: true, searchable: true },
                        { orderable: true, searchable: false },
                        { orderable: true, searchable: false }
                    ],
                });
                if ('{{personality}}' == "All") {
                    $('#Button').prop('disabled', true).css({ "background-color": "#F5F5F5", "color": "#C3C3C3", "box-shadow": "none" });
                }
            });
        </script>
    </div>
</div>
{% endblock %}