{% extends "base.html" %}

{% block content %}
<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Your predictions</span>
            <h1>{{ title }}</h1>
            <hr>
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uni in unis %}
                    <tr>
                        <td>{{ uni.name }}</td>
                        <td>{{ uni.val }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    </div>
</div>
{% endblock %}